* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 40px;
}

h1 {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-logo {
  width: 400px;
}

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #47475f;
  padding: 25px;
  margin: 10px;
  border-radius: 25px;
}